

/* nav-bar */
.nav-bar{
   
    margin-top: -4px;
    display: flex;
    width: 100%;
    background-color: #014d92  ;
    justify-content: center;
    height: 38px;
}
.nav-bar--item{
    list-style-type: none;
    display: block;
    text-align: center;
    padding: 4px 24px;

}
.nav-bar--item:hover a{
    color:gold;
    transition: ease-in 0.3s;
    font-size: 22px;
    margin: auto;
    font-weight: bold;
}
.nav-bar--item:hover {
    cursor: pointer;
   
}
.nav-bar--link{
    text-decoration: none;
    color: white;
    font-size: 20px ;
    font-weight: 600;
}
/* main conten */
.main-conten{ 
    padding: 48px 0;
    background:linear-gradient(to top,#00ebdb5b,white)
}



.conten{
    margin: 0 auto;
    width: 80%;
    font-size: 20px;
    text-align: center;
}
.main-conten h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 12px;
}
/* container */
.container{
    background: #f2f2f2 ;
    min-height: 80px;
    height: 50%;
    overflow: hidden;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
   

}
.container:hover{
    transition: ease-in-out 0.5s;
    padding: 32px 4px;
    height: 200%;
    background: linear-gradient(to bottom,#00ebdb5b,#f2f2f2);
    color: #faba40 !important;
    padding-bottom: 120px;
    box-shadow: 0px -8px 5px rgba(0, 0, 0, 0.3);
}
.container--title  {
    font-size: 28px;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 38%;
    width: 25%;
    
  
}
.container:hover > .container--title  {
     margin-left:0%;
    margin-bottom: 24px;
  
}

.container--title {
    
  
  

}
.container--list-items{
 
    display: flex;
    flex-wrap: wrap;
}
.container--list-item{
    list-style-type: none;
    margin-top: 14px;

}
.container--list-item img{
    width: 100%;
}
.container--list-item-link{
    display:block;
    margin: 0 12px 8px 12px;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    height: 352px;
    transition: ease-in-out 0.2s;
    color: black;
    overflow: hidden;
  
}
.container--list-item-link:hover{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    margin-top: -10px;
    background-color: white;
}
.container--list-item-link:hover >h4{
    color: #faba40;
    transition: ease-in-out 0.3s;
   
}
.container--list-item-link > .img--zoom:hover >img {
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
}

.container--list-item-link h4 {
    font-size: 28px; 
    margin: 8px 8px;
  
    
}
.container--list-item-link p{
    margin: 8px 8px;
}
.img--zoom{
    width: 100%;
    overflow: hidden;
}
/* footer */
.footer{
   

}
.footer:hover{
  box-shadow:   0px -8px 5px rgb(0 0 0 / 20%);
}
.footer--items{
    padding: 18px 18px;
    display: flex;
  
}
.footer--items  .footer--item h4 {
    font-size: 24px;
    margin-left: 24%;
}

.footer--item{
   

}
.footer--item:nth-child(2){
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.footer--item-list{
 

}
.footer--item-li{
    list-style-type: none;
   margin: 0 24px;
    font-size: 20px;
}
.footer--item-link{
    text-decoration: none;
    color: rgb(0, 95, 173);
    font-weight: 600;
}

.footer--item>img{
    width: 40%;
}
.footer--img-map > img{
    margin: 0 34%;
    position: absolute;
    top:0;
}
.footer--img-map {
    position: relative;
}
.footer--img-map:hover img{
    transform: scale(2.8);
    transition: ease-in 0.5s;
    top:-140%;
    right:0;
    
}
.footer--item-link:hover {
    color: rgba(12, 71, 233, 0.616);
}